bin/
obj/
.vs/
/packages/
riderModule.iml
/_ReSharper.Caches/
build/
.idea/
.vscode/
/Publish/
Saturn.ai
Saturn.png
SaturnLogo_Circle.ico
.omnisharp/
/CUE4Parse/bin/
/CUE4Parse/obj/
/CUE4Parse/.vs/
/CUE4Parse/packages/
/CUE4Parse/riderModule.iml
/CUE4Parse/_ReSharper.Caches/
/CUE4Parse/build/
/CUE4Parse/.idea/
/CUE4Parse/.vscode/
/CUE4Parse/.omnisharp/
/Saturn.Backend/bin/
/Saturn.Backend/obj/
/Saturn.Backend/Data/Utils/FortniteUtils/CustomAssets.cs
/Saturn.Backend/Data/Services/SaturnAPIService.cs
/Saturn.Client/bin/
/Saturn.Client/obj/
CloudStorage.json