@page "/"
@using Radon.Ide.Backend.Core

<scripts/>
<body>
<div class="app-mount">
    @switch (IdeConstants.State)
    {
        case IdeState.Ide:
            <IdePage/>
            break;
        case IdeState.NewFile:
            <NewFilePage/>
            break;
        default:
            throw new ArgumentOutOfRangeException();
    }
</div>

@code {
    private async Task UpdateState()
    {
        while (true)
        {
            StateHasChanged();
            await Task.Delay(100);
        }
    }
    
    protected override async Task OnInitializedAsync()
    {
        await UpdateState();
    }
}
</body>