@using Radon.Ide.Backend.Core
@using System.IO
@using System.Windows.Forms
@using Microsoft.WindowsAPICodePack.Dialogs
<div class="center-div">
    <h1>Create a New Radon File</h1>
    <input type="text" class="input-textbox" placeholder="Enter the name of your radon file" @bind="_projectName"/>
    <div class="button-container">
        <button class="btn-primary" @onclick="CreateRadonFile">Create File</button>
        <button class="btn-primary" @onclick="Cancel">Cancel</button>
    </div>
</div>


@code {
    private string? _projectName;
    
    private void CreateRadonFile()
    {
        if (string.IsNullOrWhiteSpace(_projectName))
        {
            MessageBox.Show("File name cannot be empty", "Error", MessageBoxButtons.OK, MessageBoxIcon.Error);
            return;
        }

        var folderDialog = new CommonOpenFileDialog
        {
            IsFolderPicker = true,
            Title = "Select a folder to create the file in"
        };
        
        if (folderDialog.ShowDialog() != CommonFileDialogResult.Ok)
        {
            return;
        }
        
        var folder = folderDialog.FileName;
        if (!Directory.Exists(folder))
        {
            MessageBox.Show("The selected folder does not exist", "Error", MessageBoxButtons.OK, MessageBoxIcon.Error);
            return;
        }
        
        var path = Path.Combine(folder, _projectName + ".rd");
        using var file = File.Create(path);
        file.Close();
        IdeConstants.CurrentFile = path;
        IdeConstants.State = IdeState.Ide;
    }
    
    private void Cancel()
    {
        IdeConstants.State = IdeState.Ide;
    }
}