body::-webkit-scrollbar  {
    display: none;
}
body {
    overflow-x: hidden;
    overflow-y: scroll;
    -ms-overflow-style: none;
    scrollbar-width: none;
}
.app {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: row;
    align-items: stretch;
    overflow: hidden;
}
.center {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* sidebar */
.sidebar {
    z-index: 1000;
    position: fixed;
    top: 0;
    height: auto;
    width: 100vw;
    user-select: none;
    overflow: auto;
    flex-shrink: 0;
    border-right: 1px solid var(--border);
    background: var(--background-secondary);
}
.sidebar ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    overflow: hidden;
    text-align: center;
    display: inline-block;
    justify-content: center;
}
.sidebar li {
    border-radius: 6px;
    padding: 8px 13px;
    margin: 3px 5px;
    border: 1px solid transparent;
    transition: border .4s;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    align-items: center;
    float: left;
}
.sidebar li .badge {
    background: #ff5454;
    display: inline-block;
    padding: 2px 5px;
    font-size: 11px;
    border-radius: 10px;
    margin-left: 5px;
    font-weight: bold;
}
.sidebar li.settings:hover,
.sidebar li:hover {
    background: var(--interactive);
    border: 1px solid var(--border);
    transition: border .2s;
}
.sidebar li.settings.selected,
.sidebar li.selected {
    background: var(--interactive-focus);
    border: 1px solid var(--border);
    transition: border .2s;
    font-weight: bold;
}
.sidebar li.warn {
    float: right;
    background: #ffb5461c;
    border: 1px solid #ffb5464a;
    transition: border .2s;
}
.sidebar li.settings {
    float: right;
    border: 1px solid transparent;
}
.sidebar li.settings-high {
    margin-top: -4.6vh;
    float: right;
    border: 1px solid transparent;
}
.sidebar li i {
    font-size: 15px;
    padding-right: 15px;
    width: 15px;
    text-align: center;
}
.sidebar .bottom {
    height: 40px;
    align-self: flex-end;
    position: absolute;
    bottom: 0;
    width: 220px;
    background: var(--interactive);
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    font-size: 20px;
}
.sidebar .bottom i {
    opacity: .3;
    padding: 10px 15px;
}
.sidebar .bottom i:hover {
    opacity: 1;
    cursor: pointer;
}

/* sidebar - saturn header */
.saturn-header {
    padding: 10px 0;
    display: flex;
    align-items: center;
    margin: 5px 10px;
    gap: 10px;
}
.saturn-header img {
    width: 50px;
    height: 50px;
}
.saturn-header h1 {
    font-size: 30px;
}

/* static ui - watermark */
.watermark {
    position: absolute;
    bottom: 0;
    padding: 10px;
    opacity: 0.1;
    user-select: none;
}
.watermark:hover {
    opacity: 0.25;
    text-decoration: underline;
    cursor: pointer;
}

/* static ui - context menu */
.context-menu-container {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 5000;
}
.context-menu {
    position: absolute;
    min-width: 150px;
    z-index: 5001;
    background: var(--interactive);
    padding: 10px;
    display: flex;
    flex-direction: column;
    gap: 5px;
    border: 1px solid var(--background-primary);
    border-radius: 7px;
}
.context-menu button {
    padding: 6px 10px;
    text-align: left;
}
.context-menu button i {
    padding-right: 5px;
    width: 15px;
    text-align: center;
}
.context-menu hr {
    border: none;
    width: 100%;
    height: 1px;
    background: var(--background-secondary);
    margin: 4px 0;
}
.context-menu .context-horizontal {
    display: flex;
    flex-direction: row;
    gap: 5px;
}
.context-menu .context-horizontal button {
    flex-grow: 2;
    text-align: center;
}
.context-menu .context-horizontal button i {
    padding: 0;
}

/* static ui - modals */
.modal {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    background: rgba(3, 3, 3, 0.5);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    z-index: 1000;
    transition: 0.4s;
}
.modal-window::-webkit-scrollbar  {
    display: none;
}
.modal-window {
    padding: 25px 20px;
    background-color: var(--background-secondary);
    backdrop-filter: grayscale(0);
    border-radius: 10px;
    border: 1px solid var(--border);
    max-height: 80vh;
    display: flex;
    flex-direction: column;
    transition: .3s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    overflow-y: scroll;
    overflow-x: hidden;
    -ms-overflow-style: none;
    scrollbar-width: none;
}
.modal-window .message-panel {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    margin: -30px -30px 30px;
}
.modal-window .modal-header {
    padding-bottom: 30px;
}
.modal-window .modal-bottom {
    background: var(--background-primary);
    margin: 0 -25px -25px -25px;
    padding: 15px 25px;
}
.modal-window .modal-bottom h3 {
    font-size: 15px;
}
.modal-title {
    display: inline-block;
    font-size: 23px;
    padding-bottom: 4px;
}
.modal-desc {
    opacity: 0.5;
}
.minimized {
    background: rgba(3, 3, 3, 0);
    pointer-events: none;
    transition: .3s;
}
.minimized .modal-window {
    transform: scale(1.1);
    opacity: 0;
    pointer-events: none;
    transition: .3s;
}
.close-button {
    position: absolute;
    margin: -15px;
    right: 22px;
    top: 20px;
    opacity: 0.4;
    transition: .4s;
    padding: 10px 13px;
}
.close-button:hover {
    opacity: 1;
    transition: .3s;
    cursor: pointer;
}

/* modal scrollbar scrollbar */
.modal-window ::-webkit-scrollbar-track {
    background: var(--background-secondary);
}
.modal-window ::-webkit-scrollbar-thumb {
    background: var(--background-primary);
    border-radius: 7px;
}
.modal-window ::-webkit-scrollbar-thumb:hover {
    background: #1a1e36;
}

/* static ui - changelog */
.change-container {
    max-height: 70vh;
    overflow-y: auto;
    margin-right: -20px;
    padding-right: 20px;
}
.change-section h1 {
    font-size: 16px;
    text-transform: uppercase;
    display: flex;
    align-items: center;
    gap: 10px;
}
.change-section h1:after {
    content: "";
    height: 1px;
    flex: 1 1 auto;
    margin-left: 4px;
    background: var(--foreground);
}
.change-section ul {
    margin: 20px 0 30px 20px;
}
.change-section ul li {
    margin-bottom: 15px;
    position: relative;
    line-height: 1.2;
}
.change-section ul li span {
    opacity: 0.7;
}
.change-section ul li:before {
    content: "";
    background: var(--foreground);
    position: absolute;
    top: 10px;
    left: -15px;
    width: 6px;
    height: 6px;
    margin-top: -4px;
    margin-left: -3px;
    border-radius: 50%;
    opacity: .3;
}

/* tab container */
/* this holds all the tabs and their elements */
.tab-container {
    margin-top: 40px;
    display: grid;
    flex-grow: 1;
    overflow-y: visible;
    overflow-x: hidden;
}

.tab-page {
    grid-row-start: 1;
    grid-column-start: 1;
}

.flex-box {
    display: flex;
    gap: 20px;
    align-items: center;
}
.flex-box .additional-info {
    padding: .5%;
    border: 1px solid #ffba3b;
    border-radius: .25em;
    transition-property: transform, opacity;
    color: #ffba3b
}

/* sections */
.section {
    display: flex;
    align-items: center;
    gap: 20px;
    margin: 15px 20px;
    background: var(--background-secondary);
    border: 1px solid var(--border);
    border-radius: 10px;
    user-select: none;
    padding: 20px;
}
.section.hoverable.context-menu-focused,
.section.hoverable:hover {
    background: var(--interactive);
    cursor: pointer;
}
.section h1 {
    font-size: 25px;
}
.section h3 {
    font-size: 12px;
    opacity: 0.5;
}
.section img {
    width: 40px;
    height: 40px;
    border-radius: 8px;
}
.section .right {
    margin-left: auto;
    opacity: 0;
    transform: translateX(4px);
    transition: 0.3s;
    transition-delay: .3s, 0s;
    transition-property: transform, opacity;
}
.section:hover .right {
    opacity: 1;
    transform: translateX(0px);
    transition: 1s;
    transition-delay: .5s;
}
.section .right i {
    padding: 10px 15px;
    margin-right: -15px;
    opacity: 0.5;
}
.section .right i:hover {
    opacity: 1;
    cursor: pointer;
}
.section .item-info {
    padding: .5%;
    border: 1px solid #ffba3b;
    border-radius: .25em;
    margin-left: auto;
    transition-property: transform, opacity;
    color: #ffba3b
}
.section .additional-info {
    padding: .5%;
    border: 1px solid #ffba3b;
    border-radius: .25em;
    transition-property: transform, opacity;
    color: #ffba3b
}
.section.vertical {
    flex-direction: column;
    align-items: flex-start;
    gap: 5px;
}
.section.vertical h1 {
    padding-bottom: 5px;
}

/* tab message */
.tab-message {
    position: absolute;
    left: 33%;
    top: 50%;
    user-select: none;
}
.tab-message .text {
    opacity: .3;
    text-align: center;
}
.tab-message .text h1 {
    padding-bottom: 25px;
}
.tab-message .controls {
    margin-top: 10px;
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
}

/* subsections */
/* smaller section inside section, mainly used in settings tab */
.subsection {
    margin-top: 10px;
}
.subsection h3 {
    font-size: 13px;
    opacity: 0.5;
    text-transform: uppercase;
    font-weight: bold;
    padding-bottom: 10px;
}

/* page headers */
/* used for changelog intro on playpage */
/* used for saturn image on about page */
#mods-page .header,
#info-page .header,
#cosmetic-page .header {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 200px;
    user-select: none;
    overflow: hidden;
}
#mods-page .header img,
#info-page .header img,
#cosmetic-page .header img {
    position: absolute;
    z-index: -2;
    width: 100%;
    height: 100%;
    object-fit: cover;

    /* hack, dumb transition rendering bug */
    transform: translateY(-1px);
}
#mods-page .header .fade,
#info-page .header .fade,
#cosmetic-page .header .fade {
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.27), var(--background-primary));
    background-size: cover;
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: -1;
}
#cosmetic-page .header button {
    margin-top: 15px;
}

/* add new build button */
.tab-bottom {
    display: flex;
    justify-content: center;
    opacity: 0.3;
    font-size: 15px;
    padding-bottom: 15px;
    cursor: pointer;
}
.tab-bottom:hover {
    text-decoration: underline;
}

/* mods page intro animation */
.mods-intro {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}
.mods-intro .icon {
    font-size: 80px;
    position: absolute;
}
.mods-intro .explosion-circle {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    margin-top: auto;
    left: 0;
    right: 0;
    top: 0;
    background: #fafafa;
}
.mods-intro .text {
    position: absolute;
    text-align: center;
    user-select: none;
}

/* switch */
.switch {
    position: relative;
    box-sizing: border-box;
}
.switch input {
    position: absolute;
    z-index: 1;
    opacity: 0;
    margin: 0;
    width: 100%;
    height: 100%;
    border-radius: 100px;
    cursor: pointer;
}
.switch input:checked+.switch-body {
    --switch-color: #5969ad;
    --symbol1path: path('M7.89561 14.8538L6.30462 13.2629L14.3099 5.25755L15.9009 6.84854L7.89561 14.8538Z');
    --symbol2path: path('M4.08643 11.0903L5.67742 9.49929L9.4485 13.2704L7.85751 14.8614L4.08643 11.0903Z');
}
.switch input:checked:active+.switch-body {
    --symbol1path: path('M6.56666 11.0013L6.56666 8.96683L13.5667 8.96683L13.5667 11.0013L6.56666 11.0013Z');
    --symbol2path: path('M13.5582 8.96683L13.5582 11.0013L6.56192 11.0013L6.56192 8.96683L13.5582 8.96683Z');
}
.switch input:active+.switch-body {
    --symbol1path: path('M6.56666 11.0013L6.56666 8.96683L13.5667 8.96683L13.5667 11.0013L6.56666 11.0013Z');
    --symbol2path: path('M13.5582 8.96683L13.5582 11.0013L6.56192 11.0013L6.56192 8.96683L13.5582 8.96683Z');
}
.switch-body {
    border-radius: 14px;
    width: 40px;
    height: 24px;
    background-color: var(--switch-color);
    transition: 250ms cubic-bezier(0,.3,.7,1) background-color;
    position: relative;
    --switch-color: rgb(114, 118, 125);
    --symbol1path: path('M5.13231 6.72963L6.7233 5.13864L14.855 13.2704L13.264 14.8614L5.13231 6.72963Z');
    --symbol2path: path('M13.2704 5.13864L14.8614 6.72963L6.72963 14.8614L5.13864 13.2704L13.2704 5.13864Z');
}
.switch-body .switch-handle {
    transition: 250ms cubic-bezier(0,.3,.7,1);
    position: relative;
    box-sizing: border-box;
}
.switch input:active+.switch-body .switch-handle {
    width: 28px;
    height: 18px;
    y: 1;
    x: 0;
}
.switch-body .switch-slider {
    display: block;
    position: absolute;
    left: -3px;
    width: 28px;
    height: 18px;
    margin: 3px;
    transition: 250ms cubic-bezier(0,.3,.7,1);
}
.switch input:active+.switch-body .switch-slider {
    left: 1px;
}
.switch input:active:checked+.switch-body .switch-slider {
    left: 8px;
}
.switch input:checked+.switch-body .switch-slider {
    left: 12px;
}
.switch .switch-symbol path {
    fill: var(--switch-color);
    transition: 250ms cubic-bezier(0,.3,.7,1);
}
.switch .switch-symbol path:first-child {
    d: var(--symbol1path);
}
.switch .switch-symbol path:last-child {
    d: var(--symbol2path);
}