#image-track {
    position: fixed;
    left: 30%;
    top: 25%;
    transform: translate(-50%, 0) rotate(-90deg);
    transform-origin: right top;

    display: flex;
    flex-direction: column;
    flex-flow: column;

    position: fixed;
    left: -14vw;
    height: 100vw;
    overflow-y: auto;

    scroll-behavior: smooth;
}

#image-track > .image {
    width: 56vmin;
    height: 40vmin;

    background: radial-gradient(
        circle, 
        rgb(45, 45, 45) 30%, 
        rgb(33, 33, 33) 60%, 
        rgb(11, 11, 11) 80%
      );
    margin-bottom: 4vmin;
    transform: translateY(40vw);

    cursor: pointer;
}

#image-track > .image > img {
    width: 40vmin;

    transform: translateX(20%) rotate(90deg);
}

#button-container {
    position: fixed;
    right: 4w;
    bottom: 0;

    display: flex;
    flex-direction: row;
    z-index: 2;

    width: 100vw;
    background-color: var(--background-color);
}

#button-container h2 {
    color: var(--foreground-color);
    font-family: var(--font-title);
    font-size: 2vw;

    cursor: pointer;
    border-radius: 5px;

    display: inline-block;
}