@using Saturn.Backend.Data.Services

@inject LocalizationResourceService _localizationResourceService

<div class="installer-page center-container" id="installer-welcome" style="display: none">
    <div class="image">
        @for (int i = 0; i < 4; i++)
        {
            <img src="@("img/Anims/Saturn" + i + ".png")" alt="@("Saturn " + i)"/>
        }
    </div>
        
    <div class="text" style="text-align: center">
        <h1>@_localizationResourceService.GetString(49)</h1>
        <h3 id="installer-dep">@_localizationResourceService.GetString(50)</h3>
    </div>
</div>