
@inject IJSRuntime _jsRuntime

<div class="modal minimized" id="emergency-modal">
    <div class="modal-window" style="width: 490px">
        <div class="close-button" onclick="saturn.modalManager.hideModal('emergency')">
            <i class="fas fa-times"></i>
        </div>
        <div class="modal-header">
            <h1 class="modal-title">
                @EmergencyTitle
            </h1>
        </div>
        <p class="modal-desc">
            @EmergencyDescription
        </p>
    </div>
</div>

@code {
    private static string EmergencyTitle = "TBD";
    private static string EmergencyDescription = "To be determined...";
    
    private async void ChangeState()
    {
        while (true)
        {
            StateHasChanged();
            await Task.Delay(500);
        }
    }
    
    protected override async Task OnInitializedAsync()
    {
        ChangeState();
    }

    public static bool IsEmergencyNoticeSet()
    {
        return EmergencyTitle != "TBD" && EmergencyDescription != "To be determined...";
    }
    
    public static async Task SetEmergencyNotice(string title, string description)
    {
        EmergencyTitle = title;
        EmergencyDescription = description;
    }
}