{
    margin: 0
;
    padding: 0
;
    box-sizing: border-box
;
}
main {
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.glass {
    background: white;
    min-height: 90vh;
    width: 90%;
    border-radius: 2rem;
    z-index: 2;
    backdrop-filter: blur(2rem);
    display: flex;
}

.dashboard {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    text-align: center;
    border-radius: 2rem;
}

.container:not(.item-options) {
    display: flex;
    flex-direction: row;
    flex-flow: row wrap;
    width: 100%;
    max-height: 78.559738134206vh;
    gap: 20px;
    margin-top: 35%;
    padding-top: 10px;
    padding-bottom: 10px;
    overflow: hidden scroll;
}

@media (prefers-color-scheme: no-preference) {
    main {
        background: linear-gradient(to right top, #65dfc9, #6cdbeb);
        color: black;
    }

    .dashboard {
        background: linear-gradient(
                to right bottom,
                rgba(255, 255, 255, 0.7),
                rgba(255, 255, 255, 0.3)
        );
    }

    .glass {
        background: linear-gradient(
                to right bottom,
                rgba(255, 255, 255, 0.7),
                rgba(255, 255, 255, 0.3)
        );
    }

    .card {
        background: linear-gradient(
                to right,
                rgba(255, 255, 255, 1),
                rgba(255, 255, 255, 0.4)
        );
    }

    .items input {
        background: linear-gradient(
                to right bottom,
                rgba(255, 255, 255, 0.7),
                rgba(255, 255, 255, 0.3)
        );
    }
}

@media (prefers-color-scheme: light) {
    main {
        background: linear-gradient(to right top, #65dfc9, #6cdbeb);
        color: black;
    }

    .dashboard {
        background: linear-gradient(
                to right bottom,
                rgba(255, 255, 255, 0.7),
                rgba(255, 255, 255, 0.3)
        );
    }

    .glass {
        background: linear-gradient(
                to right bottom,
                rgba(255, 255, 255, 0.7),
                rgba(255, 255, 255, 0.3)
        );
    }

    .card {
        background: linear-gradient(
                to right,
                rgba(255, 255, 255, 1),
                rgba(255, 255, 255, 0.4)
        );
    }

    .items input {
        background: linear-gradient(
                to right bottom,
                rgba(255, 255, 255, 0.7),
                rgba(255, 255, 255, 0.3)
        );
    }
}

@media (prefers-color-scheme: dark) {
    main {
        background: linear-gradient(to right top, #00264d, #001a33);
        color: white;
    }

    .dashboard {
        background: linear-gradient(
                to right bottom,
                rgba(0, 0, 0, 0.7),
                rgba(0, 0, 0, 0.3)
        );
    }

    .glass {
        background: linear-gradient(
                to right bottom,
                rgba(0, 0, 0, 0.7),
                rgba(0, 0, 0, 0.3)
        );
    }

    .card {
        background: linear-gradient(
                to right,
                rgba(0, 0, 0, 1),
                rgba(0, 0, 0, 0.4)
        );
    }

    .options img {
        filter: invert(1);
    }

    .items input {
        background: linear-gradient(
                to right bottom,
                rgba(0, 0, 0, 0.7),
                rgba(0, 0, 0, 0.3)
        );
    }
}

.user img {
    border-radius: 1.5rem;
}

.user h2 {
    font-size: 7vh;
}

.user p {
    font-size: 2vh;
}

.option {
    display: flex;
    padding: 2vh 2vh;
    align-items: center;
    font-size: 1.25vh;
}

.option img {
    width: 5vh;
    height: 5vh;
}

.option h2 {
    padding: 0 2vh;

}

.avatar {
    width: 10vh;
    height: 10vh;
}

.items {
    flex: 4;
}

.items input {
    border: none;
    width: 50%;
    border-radius: 2vh;
    position: absolute;
    margin-top: -35%;
}

.items {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    position: relative;
    margin-top: -20%;
    margin-left: 2%;
}

.cards {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(270px, 1fr) );
}

.card {
    cursor: pointer;
    font-size: 12px;
    width: 300px;
    height: 80px;
    border-radius: 18px;
    margin: -7px 4px;
    padding: -6px 7px;
    display: flow;
    box-shadow: 6px 6px 20px rgba(122, 122, 122, 0.2);
    position: relative;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-property: transform;
    transition-property: transform;
}

.card:hover, .card:focus, .card:active {
    -webkit-transform: scale(1.05) rotate(1.5deg);
    transform: scale(1.05) rotate(1.5deg);
}

.base {
    position: relative;
    width: 47px;
    height: 47px;
    margin-top: 7px;
    margin-left: 10px;
    border-radius: 2rem;
    z-index: 1;
}

.icon {
    position: relative;
    width: 45px;
    height: 45px;
    margin-left: -16%;
    margin-top: 6.5%;
    border-radius: 2rem;
    z-index: 3;
}


.card-info h2 {
    padding-left: 10px;
    position: relative;
    margin-top: -20%;
    margin-left: 20%;
    padding-right: 10px;
}

.card-info p {
    font-size: 11px;
    padding-left: 10px;
    position: relative;
    margin-top: -5.5%;
    margin-left: 20%;
}

@font-face{
    font-family:manrope regular;
    src:url(../fonts/Manrope-Regular.ttf) format("truetype")
}
@font-face{
    font-family:manrope bold;
    src:url(../fonts/Manrope-Bold.ttf) format("truetype")
}
:root{
    --background-primary: #06060c;
    --background-secondary: #0c0c18;
    --background-tritary: #24242f;
    --foreground: #e7e7e8;
    --foreground-alt: #86868c;
    --button-base: #0c0c18;
    --button-hover: #080811
}
body{
    font-family:"Manrope Regular",sans-serif;
    background:var(--background-primary);
    color:var(--foreground);
    margin:0
}
body h1{
    font-family:"Manrope ExtraBold",sans-serif;
    font-size:33px
}
body h3{
    font-size:17px
}
body strong{
    font-family:"Manrope Bold",sans-serif
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}
